/* Adding custom styles. */

body {
  background-color: #558C89;
  color: #fff;
}

.logo {
  width: 40px;
}

.displayFont {
  font-family: 'Press Start 2P', cursive;
}

.infoContainer {
  background-color: #fff;
  color: #000;
}

.btnColor {
  background-color: #D9853B;
  color: #fff;
}

.btnColor:hover {
  background-color: #c37735;
}

.siteLink {
  font-size: 20px;
}

.siteLink:visited {
  color: #551A8B;
}

.fontSmall {
  font-size: 14px;
}

.voteContainer {
  display: flex;
}

.voteButton {
  padding: 2px;
  border: none;
  outline:none;
  background: none;
  cursor: pointer;
}

.voteButtonUpClicked {
  color: #009900;
  cursor: context-menu;
}

.voteButtonDownClicked {
  color: #cc0000;
  cursor: context-menu;
}

.upVotes {
  margin-right: 3%;
  display: flex;
}

.downVotes {
  display: flex;
}

.avatarSmall {
  object-fit: cover;
  height: 100px;
  width: 100px;
}

.avatarLarge {
  object-fit: cover;
  height: 150px;
  width: 150px;
}
